log
tmp
config/*.yml
.DS_Store
public/images/speakers
REVISION
public/divulgar.html
public/googlehostedservice.html
public/index.html
public/palestrantes.html
public/programacao.html
public/system
db/dump/
*_dump.sql
db/devinsampa_test.db
.rvmrc
*.patch
.bundle

